@model ControleEstoque.Models.Entidades.Historico

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar Histórico</h2>
<hr />
<h4>Deseja excluir o item abaixo?</h4>

    <table class="table table-striped bg-info">
        <thead>
            <tr class="bg-primary">
                <th>
                    @Html.DisplayNameFor(model => model.Setor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produto)
                </th>
                <th>
                    Quantidade
                </th>
                <th>
                    Data / Hora
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>

                    @Html.DisplayFor(model => model.Setor.NomeSetor)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Produto.NomeProduto)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Qtd)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Data)
                </td>
            </tr>
        </tbody>
    </table>



    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <button class="btn btn-default">
            <a asp-action="Index" style="text-decoration:none;">Voltar</a>
        </button>
    </form>

