@model ControleEstoque.Models.Entidades.Historico

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes do Histórico</h2>
<hr />

<table class="table table-striped">
    <thead>
        <tr class="bg-primary">
            <th>
                @Html.DisplayNameFor(model => model.Setor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Data / Hora
            </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>

                    @Html.DisplayFor(model =>  model.Setor.NomeSetor)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Produto.NomeProduto)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Qtd)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Data)
                </td>
            </tr>
    </tbody>
</table>
<div>
    <button class="btn btn-default">
        <a asp-action="Edit" asp-route-id="@Model.Id" style="text-decoration:none;">Editar</a>
    </button>
    <button class="btn btn-default">
        <a asp-action="Index"  style="text-decoration:none ">Voltar</a>
    </button>
 
</div>
